.nav-bar a, .nav-bar:visited {
    text-decoration: none;
    color: white;
}

.nav-bar {
    display: flex;
    padding: 0vw 2vw 1.5vh 2vw;
    gap: 35px;
    font-size: clamp(20px, 1vw, 60px);
    background-color: orangered;
    color: white;
}