.event-card {
    display: flex;
    justify-content: space-between;
    border: solid 0.1vh grey;
    padding: 3vh;
    min-width: 50vh;
}

.event-info {
    display: flex;
    flex-direction:row;
}

.event-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 20vh;
    width: 20vh;
    margin-right: 3vh;
}

.bold {
    font-weight: bold;
}

.day {
    font-size:x-large;
}

.month {
    font-size: medium;
}

.see-more {
    display: flex;
    min-width: fit-content;
}

.see-more-link {
    margin: 0;
    text-decoration: none;
    color: rgb(191, 63, 34);
    align-content: center;
    padding-left: 3vh;
}

.see-more-link:hover {
    text-decoration: underline;
}