.event-card {
    display: flex;
    justify-content: space-between;
    border: solid 0.1vh grey;
    padding: 3vh;
    min-width: 50vh;
    font-size: clamp(16px, 1vw, 50px)
}

.event-info {
    display: flex;
    flex-direction:row;
}

.event-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 11vw;
    min-width: 120px;
    margin-right: 3vw;
}

.event-date p {
    line-height: 1.7;
}

.bold {
    font-weight: bold;
}

.day {
    font-size: clamp(24px, 2vw, 75px)
}

.month {
    font-size: clamp(18px, 1.3vw, 50px)
}

.see-more {
    display: flex;
    min-width: fit-content;
    font-size: clamp(16px, 1vw, 50px);
    margin-left: 3vh;
}

.see-more-link {
    margin: 0;
    text-decoration: none;
    color: rgb(191, 63, 34);
    align-content: center;
    padding-left: 3vh;
}

.see-more-link:hover {
    text-decoration: underline;
}