.single-event {
    margin: 5vh 10vh 5vh 10vh;
}

.single-event h1 {
    font-size: x-large;
}

.single-event img {
    width: 60%;
    margin: 4vh 0 4vh 0;
}

.single-event button {
    text-decoration: none;
    color: orangered;
    align-content: center;
    margin: 5vh 0 0 0;
    font-size: small;
}

.single-event .genre {
    color: orange;
}

.single-event .adress {
    margin-top: 4vh;
}