.single-event {
    margin: 5vh 10vh 5vh 10vh;
}

.single-event h1 {
    font-size: x-large;
}

.single-event img {
    width: 60%;
    margin: 4vh 0 4vh 0;
}

.single-event button {
    text-decoration: none;
    color: orangered;
    align-content: center;
    margin: 5vh 0 0 0;
    font-size: small;
    padding-left: 1vh;
    padding-right: 1vh;
}

.single-event .adress {
    margin-top: 4vh;
}

.loading {
    text-align: center;
}

.single-event .added-to-calendar {
    margin: 1vh 0 0 0;
    font-size: x-small;
}

.single-event .signed-up {
    color: orangered;
    font-size: large;
    margin: 2vh 0 0 0;
}

.single-event button.add-to-calendar-btn {
    color: green;
    margin-top: 2vh;
}